@import 'main-style.css';
@import url("https://use.typekit.net/cbd7kad.css");

:root {
  --r-background-color: var(--opengisch-white);
}

#qf-logo { /* left corner qfield logo*/
  position: fixed;
  top: 500px;
  z-index: 1000;
}

.slide-background-content{
  background-image: url(https://qfield.org/images/qf_carousel/qf-bg-sync.jpg);
}

.reveal .slides::after {
  background:none !important;
}

body {
  font-family: "bio-sans", sans-serif !important;
}

img.vertical{
  max-width: 90% !important;
  position: absolute;
  right: 40px;
  top: 100px;
  max-height: 600px;
}

img{
  max-height: 500px;
}

li{
  background:none !important;
}

section.present ul {
   list-style: square inside !important;
}

section.present li::marker {
   color: var(--opengisch-green) !important;
}

.small-list li{
  line-height: 0.5 !important;
  font-size: smaller;
}

p {
  line-height: 1.5rem;
  font-size: 15pt;
  font-weight: lighter;
}

em {
  font-style: italic;
  font-weight: bold;
  color: var(--opengisch-green);
}